<form action="Exception/Loginx" method="post">

    <div>
        <label>username</label> 
        <input name="username"/>
    </div>
    <div>
        <label>password</label>
        <input name="password" />
    </div>
    <button type="submit">Login</button>
</form>